<form class="form-horizontal" role="form" data-ng-submit="addUser()">
	<div data-ng-include="'pages/users/userForm.html'"></div>

	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<input type="submit" class="btn btn-primary" value="Add User" /> 
			
			<input type="reset" class="btn btn-info margin-left-20" value="Reset" />
		</div>
	</div>
</form>

<hr>

<div class="row form-group">
	<div class="col-sm-3">
		<label for="searchlastNameId" class="control-label">Search</label>
	</div>
	<div class="col-sm-5">
		<input type="text" data-ng-model="user.userId" class="form-control"
				required="required" id="searchlastNameId" />
	</div>
	<div class="col-sm-4">
		<a class="btn btn-primary" data-ui-sref="viewUser({id:user.userId})">Search</a>
	</div>
</div>

<div class="row form-group">
	<div class="col-sm-3">
		<label class="control-label">Sort By:</label>
	</div>
	<div class="col-sm-9">
		<input type="submit" class="btn btn-info" value="First Name" /> 
		<input type="submit" class="btn btn-info" value="Last Name" /> 
		<input type="submit" class="btn btn-info" value="Id" /> 
	</div>
</div>

<div data-ng-repeat="user in users">
	<hr class="dotted-hr-line">
	<div class="row form-group">
		<div class="col-sm-9">
			<div><strong>First Name:</strong> {{user.firstName}}</div>
			<div><strong>Last Name:</strong> {{user.lastName}}</div>
			<div><strong>Employee Id:</strong> {{user.employeeId}}</div>
		</div>
		<div class="col-sm-3">
			<div><a class="btn btn-primary" data-ui-sref="viewUser({id:user.userId})">Edit</a></div>
			<div><a class="btn btn-danger"  data-ui-sref="deleteUser({id:user.userId})">Delete</a> </div>
		</div>
	</div>
</div>


